.footer {
  font-family: $font-secondary;

  margin-top: auto;
  padding: 1rem 0;

  border-top: 2px solid $color-primary-gamma;
  background-color: $color-primary-beta;

  &__info {
    font-size: 1.6rem;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: darken($color-primary-alpha, 15);
  }

  &__link {
    margin: 0 3px;

    color: $color-primary-alpha;

    &:last-of-type {
      margin: 0 5px;
    }
  }

  &__img {
    max-width: 60px;
    max-height: 60px;
    margin-left: 5px;
  }
}
