.header {
  padding: 1rem 0;

  border-bottom: 2px solid $color-primary-gamma;
  background-color: $color-primary-beta;

  &--project {
    border-bottom: 1px solid $color-line;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;

    margin-right: 1.5rem;

    text-transform: uppercase;

    color: $color-primary-alpha;

    span {
      color: $color-primary-psi;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__run {
    @include btn-hover;

    font-size: 2rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 5px 10px 5px 5px;

    transition: color .1s linear;

    color: $color-primary-alpha;
  }

  &__icon {
    margin-right: 5px;
  }
}
