.editor {
  display: flex;
  flex: 2 0;

  width: 100%;
  min-width: 355px;

  &__content {
    width: 100%;
    max-height: 100%;
  }

  .monaco-editor.vs-dark .current-line {
    box-sizing: border-box;

    border: none;
  }
}
