.editor {
  // @include theme-transition;

  display: flex;
  flex-direction: column;
  // flex: 1 1;

  width: 34%;
  max-width: 100%;

  &__content {
    width: 100%;
    max-height: 100%;
  }

  &__header {
    // @include theme-transition;

    padding: 5px 10px;
  }

  &__title {
    text-transform: uppercase;
  }

  .invisible.scrollbar.vertical.fade {
    // z-index: 11;
  }
}
