@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
@import '../../../node_modules/normalize-scss/sass/_normalize';

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  display: inline-block;

  text-decoration: none;
}

img {
  display: block;

  width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  font: inherit;

  border: none;
  outline: none;
  background: none;
}

input[type='button'] {
  padding: 0;

  cursor: pointer;
}

button {
  font: inherit;

  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}

html {
  font-size: 62.5%;

  transition: color .1s linear, background-color .1s linear;

  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: 1.6em;

  margin: 0;

  color: $color-primary-alpha;
  background-color: $color-primary-beta;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &--wide {
    width: 100%;
  }
}

.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
